@import '../../constants/constants';

.movie-card-wrapper {
  float: left;
  width: 270px;
  height: 470px;
  margin: 0 0 20px 22px;
  background-color: #eaeaea;
  border: 1px lightgrey solid;
  box-sizing: content-box;
  cursor: pointer;

  .img-container {
    width: 270px;
    height: 405px;

    img {
      width: 100%;
    }
  }

  .info-wrapper {
    position: relative;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: $TEXT_GREY;

    .movie-title {
      position: absolute;
      width: 196px;
      top: 12px;
      left: 12px;
      font-weight: bold;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .movie-genres {
      position: absolute;
      width: 250px;
      top: 38px;
      left: 12px;
      font-size: 13px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .movie-year {
      position: absolute;
      top: 8px;
      right: 8px;
      padding: 1px 8px;
      border: 1px solid $TEXT_GREY;
      font-size: 14px;
    }
  }

}
